body
{
  background-color: #89609E;
}
.header
{
  background-color: #745286;
}
.headerElement, .headerElement>a
{
  background-color: #896C98;
  color:rgba(255, 255, 255, 0.5);
}
.headerElement:hover, a:hover
{
  color: white;
  text-decoration: none;
}
i
{
  color: white;
}
.myBoards
{
  color: white;
}
.board, .list
{
  color: #4c4e50;
  background-color: #D5D4DB;
  text-align: left;
}
.new
{
  background-color: #745286;  
  color: #bdc3c7;
  
}
.new:hover
{
  background-color: #6E4D7F;
  color: #bdc3c7;  
}
.newCard,
{
  color: #797a7c;
}
.newCard:hover
{
  color: #4c4e50;
  background-color: #BFC4C8;  
}
.card
{
  background-color: white;
  margin: 5px;
}